{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}

<article>

    <img src="img/symfony.png" style="width:300px">
    
    <h1>Om</h1>
    <p>Kursen MVC handlar om objekt orienterad programmering med php</p>
    <p>Denna webbplatsen 채r en del av kursen <a href="https://github.com/dbwebb-se/mvc">mvc</a>.</p>
    
    <p>H채r 채r l채nken till kursens <a href="https://github.com/dbwebb-se/mvc">GITHUB sida</a>.</p>
    
</article>

{% endblock %}
