<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <div class="navbar"> 
            <nav>
                <ul>
                    <li><a href="{{ url('home')}}">Home</a></li>
                    <li><a href="{{ path('about')}}">About</a></li>
                    <li><a href="{{ path('report')}}">Report</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <h1 class="header">
                {% block header %}Default header{% endblock %}
            </h1>
            {% block content %}Default Content{% endblock %}
        </div>

        <div class="footer">Footer med rimliga detaljer -- shou21 @ BTH 2022</div>
    </body>
</html>
