{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block content %}

<article>

    <h1>Om mig</h1>
    <p>En presentation av mig själv, om mig själv, tillsammans med en liten bild.</p>
    
    <pre>
                   ,.----------,
                 ,"__:::::::: _-:,
                /....""--_--""...:\
               /.........|.........\
              /... 12 ...|.... 4 ...\
             /.........._'_........./|
             | -,... _-"..."-_... ,..|
             \ 1.-_-"........."-_/.6.|
              \...\..... 8 .... /.../'
               \...\.........../.../
                '. .\........ /../'
                  "-_\_______/_/'
    </pre>
    
    <p><img src="img/me.jpg" width="200" alt="Bild på mig"></p>
    
    <p>Tjena jag heter Sharif Outagourte.</p>
    
    <p>20år och har presis flyttat in i karlskrona för att studera på BTH!</p>
    
    <p>Jag gillar att spela tv-spel, lyssna på musik.<br>
    ibland programmerar jag spel eller så ritar jag med min Wacom Tablet</p>
    
    <p>Vi syns och hörs i discord chatt! <br><br><br><br><br><br> </p>
    
</article>

{% endblock %}
