{% extends "base.html.twig" %}
{% block title %}Report{% endblock %}
{% block header %}Report{% endblock %}
{% block content %}

<section>
    <h2>Kmom01</h2>
    <pre>
    _______

    Jag har jobbat med en del OO i oopython kursen och javascript kursen, 
    så jag förstår vad det handlar om.
    _______

    Jag har inte börjat koda mina egna classer ännu i php,
    men de är initierade med 'new' och kan ges/hämta attributer med '->'.
    _______

        Hur uppfattar jag kodbasen?
    Just nu är det mycket jag inte kan om Symfony, men den värkar skön att jobba i.
    Jag får dock 2 errors i deras debugger som ingen värka förstå, men sidan körs ändå utan problem..
    _______

    PHP the right way värkar ok, men ofta behöver man gå in i php dokumentationen för att förstå något helt.
    Till exempel har sidan inget exempel på hur namespace funkar.
    Annars vet jag inte tillräckligt för att kommentera mer.
    _______

        TIL
    Lärde mig en del Symfony.
    Det är nog allt.
    </pre>

    <h2>Kmom02</h2>
    <pre>
        Förklara kort de objektorienterade konstruktionerna.

    Arv menas att ett objekt "är något", alltså är en del av en grupp/typ. "En bil är ett fordon".
    Komposition betyder att objektet består av något. "En bil har en motor".
    Interface är en mall för objekt, vet inte mycket mer.
    trait är som en del av ett objekt man kan stoppa in i ett objekt.

    ____

        Berätta om din implementation från uppgiften.

    Jag är rätt så nöjd med min implementation av object.
    Jag använde ingen post i den här uppgiften, istället processar jag allt i routern/sidan i controllern.
    Jag skulle viljat ha ett sätt för mina knappar/länkar att inkludera URL parameters, som :numbers och :players.
    Just nu tar dom dig till sidan med förkodade nummer i URLn som man får ändra själv.
    Jag tror inte jag behöver någon GET, HEAD i router igentligen men jag har bara lämnat det där..
    ____

        Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod.

    jaaag har inte gjort ett kortspel eller flödesdiagram..
    ____

        TIL

    Lärde mig mycket PHP och symfony.. 
    ____
    </pre>
</section>

{% endblock %}
