{% extends "base.html.twig" %}
{% block title %}Report{% endblock %}
{% block header %}Report{% endblock %}
{% block content %}

<section>
    <h2>Kmom01</h2>
    <pre>
    _______

    Jag har jobbat med en del OO i oopython kursen och javascript kursen, 
    så jag förstår vad det handlar om.
    _______

    Jag har inte börjat koda mina egna classer ännu i php,
    men de är initierade med 'new' och kan ges/hämta attributer med '->'.
    _______

        Hur uppfattar jag kodbasen?
    Just nu är det mycket jag inte kan om Symfony, men den värkar skön att jobba i.
    Jag får dock 2 errors i deras debugger som ingen värka förstå, men sidan körs ändå utan problem..
    _______

    PHP the right way värkar ok, men ofta behöver man gå in i php dokumentationen för att förstå något helt.
    Till exempel har sidan inget exempel på hur namespace funkar.
    Annars vet jag inte tillräckligt för att kommentera mer.
    _______

        TIL
    Lärde mig en del Symfony.
    Det är nog allt.
    </pre>
</section>

{% endblock %}
